/*
 * Overrides CSS
 */

/*Basics*/
@font-face {
    font-family: 'open_sansregular';
    src: url('/templates/blunk/fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

  body {
    font-family: 'open_sansregular',sans-serif,Arial;
  }

  header.header {
      max-height: 340px;
  }

  .clr {
    clear: both;
  }

  div#xmap h2 {
    display: none;
  }

  div#xmap {
    margin: 30px 0px 10px;
  }

  main#content ul li {
    /*background: url(/images/list_style.gif) no-repeat left center;
    padding: 3px 0px 3px 10px;
    list-style: none;*/
    margin: 0;
    color: #76cccb;
  }

  main#content ul li span {
    color: #555;
  }

  .container {
    padding: 20px 0px 0px 0px;
  }

  .container.content {
    padding-bottom: 0px;
  }

  .img_caption.none {
    width: 190px !important;
  }

   .site_wrapper {
      max-width: 1024px;
      margin: 0px auto;
  }

  .startseite {
      max-width: 55%;
  }

  body.site p.tel a {
    color: #555;
  }

  body.site.itemid-132 p.tel a {
    color: #555 !important;
  }

/*  div.container.content div.row-fluid {
    max-height: 422px;
  }*/

  main#content p {
      font-size: 15px;
      line-height: 20px;
  }

  main#content h2,
  main#content h1 {
      font-size: 21px;
      margin: 14px 0px 20px 0px;
      font-weight: 600;
  }

  main#content p.img_caption {
    font-size: 0.8em;
    background: none;
      clear: both;
      color: #000;
      text-align: right;
      margin-left: 50px;
      text-transform: uppercase;
      line-height: 14px;
      color: #696668;

  }

  div#inner-wrapper {
      max-width: 1180px;
      margin: -31px 40px 0px 50px;
  }

@media(min-width: 768px) {
  #module_101 .kontaktinfo {
    text-align: right;
  }
}

  #module_101 .kontaktinfo a.url,
  #module_101 .kontaktinfo span.country-name {
    display: none;
  }

  .site_wrapper {
    border-top: 16px solid #76cccb;
/*    border-left: 1px solid rgba(204, 7, 103, 0.15);
    border-right: 1px solid rgba(204, 7, 103, 0.15);*/
    border-bottom: 16px solid #76cccb;
    padding: 2px 0px 0px 0px;
    box-shadow:  0 35px 27px -10px rgba(107, 106, 106, 0.55);
  }

  main#content a,
  .corp_color,
  .divider {
    color: #5fb4b3;
    transition: color 0.4s ease-in-out;
  }

  main#content a:hover {
    color: #5fb4b3;
    text-transform: underline;
  }

  a.brand.animsition-link img {
      margin: 13px 0px;
      max-width: 100%;
  }


/*Breadcrumb*/

  .breadcrumb {
    padding: 0px 15px 0px 0px;
  }

  .breadcrumb {
      background-color: none;
      /*border-bottom: 12px solid #f6f7f8; */
      text-transform: uppercase;
      font-weight: normal;
      font-size: 12px;
  }

  ol.breadcrumb.corp_color li a.pathway {
    color: rgb(112, 112, 113, 0.79);
  }

  .breadcrumb li span {
      border-top: 6px solid #e6e6e6;
      padding: 10px 0px 0px 0px;
  }

  span.divider {
    border-top: none !important;
  }

/*Kontaktinfo*/

  .custom.kontaktinfo {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 14px;

  }

  .custom.kontaktinfo p.tel {
    font-size: 15px;
  }

  .custom.kontaktinfo p.adr {
    margin-bottom: 15px;
  }

  div.navbar div.header-right.pull-right {
    padding: 20px 0px 0px 0px;
  }

/*Trennlinien wg ~fullwidth*/

  .short-hr {
      position: relative;
      border-bottom: 12px solid #f6f7f8;
      max-width: 536px;
      top: 62px;
  }

  .short-hr-2 {
      position: relative;
      border-bottom: 5px solid #f6f7f8;
      max-width: 536px;
      top: 335px;
  }

  .long-hr {
      position: relative;
      border-bottom: 12px solid #f6f7f8;
      max-width: 1024px;
      top: 199px;
  }

@media(min-width: 1024px) {
  hr.fullwidth_border {
      width: 1012px;
      position: relative;
      border: 6px solid #f6f7f8;
      right: 49px;
      margin: 2px 0px;
  }
}
/*lang switch*/

.lang-switch {
    position: relative;
    left: 2px;
    z-index: 9999;
}
.lang-switch.setBack {
    z-index: 999;
}

/*Kontaktform*/

  form#ap_103.ap_ajaxqc label {
      text-align: left;
  }

  div#ap_ajax_qc_103.ap_ajax_qc .success {
    clear: both;
    width: 99%;
    padding: 10px 0px;
    margin: 10px auto;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background-color: #F6F7F8;
    border-color: #76cccb;
    color: #555;
  }

/*Menu*/
 @media(min-width: 1024px) {

    .navbar #module_1 .nav li a,
    .navbar #module_104 .nav li a {
      float: none;
      padding: 50px 15px 10px;
      color: #696668;
      text-decoration: none;
      text-shadow: none;
      transition: all 0.6s ease-in-out;
    }

    .navbar #module_1 .nav li a:hover,
    .navbar #module_104 .nav li a:hover,
    .current.active.fx-1 a:hover,
    .current.active.fx-1 span.sub_title h3:hover {
      color: #5fb4b3 !important;
      text-shadow:none;
    }

    ul.nav.content_menu li {
        /*padding: 10px;*/
        border: 1px solid #e6e6e6;
/*        width: 164px;
        height: 113px;
        text-align: center; */
         width: 154px;
        height: 113px;
        margin: 7px 8px 25px 0px;
        text-transform: uppercase;
  /*      background-color: #fff;*/
      overflow: visible;
    }

    span.sub_title h3 {
        padding: 39px 15px 5px;
        margin: 0px;
        font-size: 10px;
        color: #696668;
        font-weight: 600;
    }

    ul.nav.content_menu h2 {
        margin: 0px;
        font-size: 14px;
        line-height: 8px;
        font-weight: 600;
    }

    nav.navbar-wrapper {
        position: relative;
        top: -30px;
    }

  /*Hover FX*/

      .fx-1 {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        overflow: hidden;
        background-color: #fff;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-property: box-shadow, transform, background-color;
        transition-property: box-shadow, transform, background-color;
      }

      .fx-1:hover,
      .fx-1:focus {
        box-shadow: 0 15px 17px -10px rgba(0, 0, 0, 0.5);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        background-color: rgba(175, 175, 175, 0.15);
      }

      .current.active.fx-1:active {

      }

      .current.active.fx-1 {
        -webkit-box-shadow: inset 0px 0px 29px 0px rgba(179,179,179,0.5);
          -moz-box-shadow: inset 0px 0px 29px 0px rgba(179,179,179,0.5);
          box-shadow: inset -1px 5px 17px 0px rgba(206, 206, 206, 0.43);
          background-color: rgba(230, 230, 230, 0.1);
          border-right: 1px solid rgba(171, 171, 171, 0.42);
          border-top: 1px solid rgba(144, 144, 144, 0.32);
          border-bottom: 1px solid #EFEFEF;
          border-left: 0px solid #EAEAEA;

      }

      .current.active.fx-1 a,
      .current.active.fx-1 span.sub_title h3 {
/*        text-shadow: 0px 0px 0px rgba(125, 9, 65, 0.7) , 0px 0px 0px rgba(230, 100, 163, 0.33) !important;
        color: rgba(199, 199, 199, 0.62) !important;*/
        color: #5fb4b3 !important;
      }


      .current.active.fx-1:before {
        content: none;
      }

      .fx-1:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        border-radius: 100%;
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      }

      .fx-1:hover:before,
      .fx-1:focus:before,
      .fx-1:active:before {
        -webkit-transform: scale(0);
        transform: scale(0);
      }


      .zoom-fx {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -moz-osx-font-smoothing: grayscale;
        position: relative;
        height: inherit;
        width: inherit;
      }
      .zoom-fx:before {
        content: '';
        position: absolute;
        border: 1px solid #e6e6e6;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        z-index: -1;
        -webkit-animation-duration: 0.8s;
        animation-duration: 0.9s;
      }
      .zoom-fx:hover:before,
      .zoom-fx:focus:before,
      .zoom-fx:active:before {
        -webkit-animation-name: zoom-fx;
        animation-name: zoom-fx;
        opacity: 0.3;

      }

    /* Ripple Out */
      @-webkit-keyframes zoom-fx {
        100% {
          top: -20px;
          right: -20px;
          bottom: -20px;
          left: -20px;
          opacity: 0;
          border: 100px solid #808080;
        }
      }


      @keyframes zoom-fx {
        100% {
          top: -40px;
          right: -40px;
          bottom: -40px;
          left: -40px;
          opacity: 0;
          border: 100px solid #808080;
        }
      }
  }



/*Footer*/

  .container.clear-footer-wrap {
    padding-top: 0px !important;
  }

  #footer h2 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
  }

  #footer .custom.span12.pull-left.corp_color {
    position: relative;
    top: 30px;
    font-size: 22px;
  }

  #footer .module_footer.position_footnav {
      position: relative;
      top: 0px;
      text-transform: uppercase;
  }

  #footer.clear-footer {
    /* border-bottom: 16px solid #76cccb; */
    background: #fff;
    color: #000;
  }

  #footer.clear-footer p,
  #footer.clear-footer a,
  #footer.clear-footer span {
    color: #000;
    font-size: 12px;
  }

  ul.nav-footer {
    text-align: right;
    list-style: none;
  }

  ul.nav-footer li {
    display: inline;
    padding-right: 10px;
  }

  #copyright {
    margin: 32px 0px;
  }

  div#copyright p {
/*      text-shadow: 1px 0px 1px rgb(132, 132, 132) , 0px 1px 0px rgb(212, 212, 212) !important;
      color: #BFBFBF !important;*/
      color: #404040;
      font-size: 12px;
  }


/*Respsonsivve Menue*/

@media(max-width: 767px) {

  .container a:hover:after {
    width: 100%;
  }

  .button_container {
    position: absolute;
    top: 90%;
    left: 0%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    -webkit-transition: opacity .25s ease;
          transition: opacity .25s ease;
  }
  .button_container:hover {
    opacity: .7;
  }
  .button_container.active .top {
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
        -ms-transform: translateY(10px) translateX(0) rotate(45deg);
            transform: translateY(10px) translateX(0) rotate(45deg);
    background: #FFF;
  }
  .button_container.active .middle {
    opacity: 0;
    background: #FFF;
  }
  .button_container.active .bottom {
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
        -ms-transform: translateY(-10px) translateX(0) rotate(-45deg);
            transform: translateY(-10px) translateX(0) rotate(-45deg);
    background: #FFF;
  }
  .button_container span {
    background: #76cccb;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-transition: all .35s ease;
            transition: all .35s ease;
    cursor: pointer;
  }
  .button_container span:nth-of-type(2) {
    top: 10px;
  }
  .button_container span:nth-of-type(3) {
    top: 20px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: hidden;
    -webkit-transition: opacity .35s, visibility .35s, width .35s;
            transition: opacity .35s, visibility .35s, width .35s;
    z-index: 50;
  }
  .overlay:before {
    content: '';
    background: #5fb4b3;
    left: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    -webkit-transition: left .35s ease;
            transition: left .35s ease;
  }
  .overlay:after {
    content: '';
    background: #5fb4b3;
    right: -55%;
    top: 0;
    width: 50%;
    height: 100%;
    position: absolute;
    -webkit-transition: all .35s ease;
            transition: all .35s ease;
  }

  .overlay.open h2 {
    font-size: 16px;
    line-height: 18px;
    margin: 0px 0px 10px 0px;
  }

  .overlay.open h3 {
    font-size: 12px;
    line-height: 16px;
    color: #000000;
    margin: 0px;
  }

  .overlay.open {
    opacity: .9;
    visibility: visible !important;
    height: 100%;
  }

  .overlay.open h3,
  .overlay.open h2 {
    visibility: visible !important;
    height: 100%;
  }

  div#overlay.overlay.open nav.overlay-menu ul li.visible-phone h2 {
    margin-bottom: 0px !important;
  }

  div#overlay.overlay.open nav.overlay-menu ul li.visible-phone h2 a {
      padding: 10px 0px 0px 0px;
  }

  .overlay.open:before {
    left: 0;
  }
  .overlay.open:after {
    right: 0;
  }
/*fade in delay li-elemente*/
  .overlay.open li {
    -webkit-animation: fadeInRight .5s ease forwards;
            animation: fadeInRight .5s ease forwards;
    -webkit-animation-delay: .35s;
            animation-delay: .35s;
  }
  .overlay.open li:nth-of-type(2) {
    -webkit-animation-delay: .45s;
            animation-delay: .45s;
  }
  .overlay.open li:nth-of-type(3) {
    -webkit-animation-delay: .55s;
            animation-delay: .55s;
  }
  .overlay.open li:nth-of-type(4) {
    -webkit-animation-delay: .65s;
            animation-delay: .65s;
  }
  .overlay.open li:nth-of-type(5) {
    -webkit-animation-delay: .75s;
            animation-delay: .75s;
  }
  .overlay.open li:nth-of-type(6) {
    -webkit-animation-delay: .85s;
            animation-delay: .85s;
  }
  .overlay.open li:nth-of-type(7) {
    -webkit-animation-delay: .95s;
            animation-delay: .95s;
  }
  .overlay.open li:nth-of-type(8) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }

  .overlay nav {
    position: relative;
    height: 70%;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    z-index: 100;
  }
  .overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%;
  }

  .overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 8);
    min-height: 50px;
    position: relative;
    opacity: 0;
  }

  .overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    padding-bottom: 5px;
  }
  /*lade-Border*/
  .overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%;
  }

  .overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    height: 3px;
    background: #FFF;
    -webkit-transition: .55s;
            transition: .55s;
  }

  @-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%;
    }
    100% {
      opacity: 1;
      left: 0;
    }
  }
}
/*cookie control*/
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
  body#body #cookiesck_accept {
      background: #c20b68;
      float: none;
      width: 100px;
      margin: 20px auto 0px !important;
      border: 1px solid #fff;
  }
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    padding: 10px 10px 10px 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
    text-shadow: 0px 3px 5px #525252;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #c20b68;
}
@media(max-width: 1280px) {
  body#body.site div#cookiesck span {
      font-size: 14px !important;
  }
  body#body.site #cookiesck_readmore {
      padding: 10px 10px 10px 0 !important;
  }
  body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body#body.site #cookiesck {
      text-align: left !important;
      line-height: 25px !important;
  }
}
@media(max-width: 1279px) and (orientation: portrait) {
/*  body.mobile #cookiesck {
      bottom: 20vh;
  }*/
}